<div class="container">
  <div class="col-sm-4 col-md-8 col-lg-8 mb-4">
    <hr />
    <label>Nom Produits </label>

    <nav class="navbar navbar-light bg-light">
      <!-- search bottom -->
      <!-- <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          [(ngModel)]="nomProduit"
          name="nomProduit"
        />
        <button
          (click)="rechercherProds()"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >
          Recherche
        </button>
      </form> -->

      <!-- search keyup -->
      <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2">
          <input
            class="form-control"
            #searchTerm
            (keyup)="onKeyUp(searchTerm.value)"
          />
        </div>
      </form> -->

      <!-- search pipe -->
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2">
          <input
            #nom
            [(ngModel)]="searchTerm"
            name="searchTerm"
            class="form-control"
          />
        </div>
      </form>
    </nav>
  </div>

  <div><h2>Liste des Produits</h2></div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Date Création</th>
          <th>Catégorie</th>
        </tr>
        <tbody *ngFor="let produit of produits | searchFilter: searchTerm">
          <tr>
            <td>{{ produit.idProduit }}</td>
            <td>{{ produit.nomProduit }}</td>
            <td>{{ produit.prixProduit }}</td>
            <td>{{ produit.dateCreation | date : "dd/MM/yyyy" }}</td>
            <td>{{ produit.categorie?.nomCat }}</td>
            <!-- <td><a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a></td>
            <td><a class="btn btn-success" [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
